@model List<VistaEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Empleados" asp-action="CreateEmpleado">NUEVO EMPLEADO</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IdEmp
            </th>
            <th>
                Apellido
            </th>
            <th>
                Oficio
            </th>
            <th>
                Salario
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.IdEmp
            </td>
            <td>
                @item.Apellido
            </td>
            <td>
                @item.Oficio
            </td>
            <td>
                @item.Salario
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { idemp=item.IdEmp },new{@class="btn btn-success" }) |
                    @Html.ActionLink("Edit", "Edit", new { /* idemp=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* idemp=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
